<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.killmongerscode.aid">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AiD">
        <activity android:name=".Booking_Patient"></activity>
        <activity android:name=".list_of_patients" />
        <activity android:name=".PatientProfile" />
        <activity android:name=".DoctorAccess" />
        <activity android:name=".DoctorChats" />
        <activity android:name=".DoctorProfile" />
        <activity android:name=".Booking_System" />
        <activity android:name=".Patient_Homepage" />
        <activity android:name=".Doctor_Homepage" />
        <activity android:name=".Registration_Doctor" />
        <activity android:name=".Registration_Patient" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".PatientDetail" />
    </application>

</manifest>